body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

p {
    margin: 0;
}

.p1 {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.p2 {
    margin-bottom: 1rem;
}

.p3 {
    margin-bottom: 1rem;
}

.container {
    display: flex;
    gap: 60px;
}

.umbrella-preview {
    position: relative;
    width: 400px;
    height: 400px;
    margin-right: 20px;
}
#umbrella-image{
    height: 100%;
    margin: auto;
}
#umbrella-image,
#logo-preview {
    position: absolute;

    left: 0;
    width: 100%;

    object-fit: contain;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#logo-preview {
    bottom: 30px;
    left: 50%;

    transform: translateX(-50%);
    width: 100px;
    max-height: 90px;
    padding-bottom: 20px;
}

.customization-panel {
    text-align: left;
}

.color-swatches {
    display: flex;
    margin-bottom: 10px;
}

.color-swatch {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid transparent;
    cursor: pointer;
}

.color-swatch.blue {
    background-color: #2196f3;
}

.color-swatch.pink {
    background-color: #e91e63;
}

.color-swatch.yellow {
    background-color: #ffc107;
}

.color-swatch.active {
    border-color: #333;
}

#upload-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 50px;
    background-color: #007bff;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload-button .upload-icon,
#upload-button .button-spinner {
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}

.button-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-spinner svg {
    fill: currentColor;
    animation: spin 1s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
    opacity: 0.8;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button-spinner.hidden {
    display: none;
}

.button-spinner:not(.hidden) {
    animation: fade-in 0.3s ease-in-out;
}

#upload-button .remove-icon {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease;
    fill: currentColor;
}

#upload-button .remove-icon:hover {
    opacity: 1;
}

#upload-button .button-text {
    display: block;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 70px);
}

.hidden {
    display: none;
}

.fade-out {
    opacity: 0 !important;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#loader svg {
    width: 100%;
    height: 100%;
    animation: spin 2s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }

    .umbrella-preview {
        width: 100%;
        max-width: 300px;
        max-height: 300px;
        margin-right: 0;
    }

    #logo-preview {
        bottom: 80px;
    }
}